.advantages {
    display: none;
  }
  
  .advantages-title {
    color: $colorblack;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-top: 30px;
  }
  
  .advantages-desc {
    color: $colors;
    line-height: 24px;
    letter-spacing: 0.42px;
  }
  
  .advantages-list {
    display: flex;
    align-items: center;
    column-gap: 30px;
  }
  
  .advantages-desc {
    margin-top: 10px;
  }