.hero {
    max-width: 1600px;
    padding: 200px 0;
    margin: 0 auto;

    &--background {
    background-image: linear-gradient( rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), 
    url(/img/);
    background-size: cover;
    background-repeat: no-repeat;
    }
  }
  
  .hero-title {
    width: 696px;
    margin: 0 auto;
    text-transform: uppercase;
    color: #fff;
    font-size: 44px;
    text-align: center;
  }
  
  .button {
   @include button();
  }